body {
  white-space: nowrap;
  font-size: 0;
  padding: 10px;
}

.table-holder {
}

.grid-item {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 0;
  margin-top: -1px;
  margin-left: -1px;

  font-size: 10px;
  vertical-align: middle;
}